#container {
    display:flex;
    width: 400px;
    margin: 0 auto;
    background-color: blueviolet;
}
#container > div {
    background-color: rgb(231, 175, 31);
    height: 100px;
    width: 100px;
    transition: all .2s linear;

}
#container > div:nth-child(2){
    background-color: aqua;
    height: 80px;
    align-items: center;
}
#container > div:hover {
    background-color: rgb(55, 211, 55);
    transition-delay: 0.3s;
    flex-grow: 0.5;
}